<h1>Welcome to your exercise tracker.</h1>

<blockquote>This tracker  is designed to replace your paper workout journal. Originally designed in 2012 by a team who was disappointed by the selection of workout tracking apps, it combines the best features found in other apps with a minimalistic approach and a clean, easy-to-use interface. Give it a try. We know you'll love it!</blockquote>

<blockquote>Other workout apps take a simple thing and over complicate it. We believe that a workout log should do just what it says: log your workout. We keep your exercise tracker simple by avoiding all the unnecessary extras. A workout log should be quick and easy to use in the gym without getting in your way, or slowing you down.</blockquote>
